Feito por Matheus Guilherme Vilaça de Melo

Parte 1 - Etapa 1

In [1]:
# 1 - Importe os dados do arquivo “NetflixOriginals.csv”

import pandas as pd

df_netflix = pd.read_csv("ExercicioNetflixOriginals.csv", sep=';', encoding = "cp1252")
df_netflix.head(10)

,Title,Genre,Month,Day,Year,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,August,5,2019,58,2.5,English/Japanese
1,Dark Forces,Thriller,August,21,2020,81,2.6,Spanish
2,The App,Science fiction/Drama,December,26,2019,79,2.6,Italian
3,The Open House,Horror thriller,January,19,2018,94,3.2,English
4,Kaali Khuhi,Mystery,October,30,2020,90,3.4,Hindi
5,Drive,Action,November,1,2019,147,3.5,Hindi
6,Leyla Everlasting,Comedy,December,4,2020,112,3.7,Turkish
7,The Last Days of American Crime,Heist film/Thriller,June,5,2020,149,3.7,English
8,Paradox,Musical/Western/Fantasy,March,23,2018,73,3.9,English
9,Sardar Ka Grandson,Comedy,May,18,2021,139,4.1,Hindi

In [2]:
# 2 - Em caso de linhas inteiramente duplicadas, remova as duplicações deixando apenas a primeira ocorrência dos casos

df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       600 non-null    object
 1   Genre       600 non-null    object
 2   Month       600 non-null    object
 3   Day         600 non-null    int64
 4   Year        600 non-null    int64
 5   Runtime     600 non-null    int64
 6   IMDB Score  594 non-null    float64
 7   Language    600 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 37.6+ KB

In [3]:
df_netflix.drop_duplicates(keep='first', inplace=True)
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568 entries, 0 to 567
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       568 non-null    object
 1   Genre       568 non-null    object
 2   Month       568 non-null    object
 3   Day         568 non-null    int64
 4   Year        568 non-null    int64
 5   Runtime     568 non-null    int64
 6   IMDB Score  562 non-null    float64
 7   Language    568 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 39.9+ KB

In [4]:
# 3 - As linhas sem a informação “IMDB Score” devem ser desconsideradas

df_netflix.dropna(subset=['IMDB Score'], inplace=True)
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562 entries, 0 to 567
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       562 non-null    object
 1   Genre       562 non-null    object
 2   Month       562 non-null    object
 3   Day         562 non-null    int64
 4   Year        562 non-null    int64
 5   Runtime     562 non-null    int64
 6   IMDB Score  562 non-null    float64
 7   Language    562 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 39.5+ KB

Etapa 2

In [5]:
# 1 - Conte quantos itens exclusivos tem para atributos "Genre" e "Language"
 
print(df_netflix['Genre'].nunique())
print(df_netflix['Language'].nunique())

111
38

In [6]:
# 2 - Quantos filmes do idioma português existem na base de dados?

df_netflix.loc[df_netflix['Language'] == "Portuguese"].shape[0]

12

In [7]:
# 3 - Quantos filmes do gênero documentário existem na base de dados?

df_netflix.loc[df_netflix['Genre'] == "Documentary"].shape[0]

148

In [8]:
# 4 - Quantos filmes têm ano de lançamento igual ou maior à 2020 na base de dados?

df_netflix.loc[df_netflix['Year'] >= 2020].shape[0]

249

In [9]:
# 5 - Quantos filmes do idioma português com nota acima de 7 existem na base de dados?

df_netflix.loc[(df_netflix['Language'] == "Portuguese") & (df_netflix['IMDB Score'] > 7)].shape[0]

2

In [10]:
# 6 - Quantos filmes com ano de lançamento menor que 2020 na base de dados têm nota maior que 7?

df_netflix.loc[(df_netflix['Year'] < 2020) & (df_netflix['IMDB Score'] > 7)].shape[0]

85

In [11]:
# 7 - Quantos filmes em português ou espanhol, com ano de lançamento maior ou igual à 2020, têm nota maior que 7?

df_netflix.loc[(df_netflix['Language'].isin(["Portuguese", "Spanish"])) & (df_netflix['Year'] >= 2020) & (df_netflix['IMDB Score'] > 7)].shape[0]

5

In [12]:
# 8 - Monte uma tabela com a quantidade de filmes lançados por ano

df_netflix.groupby('Year')['Year'].count()

Year
2014      1
2015      8
2016     29
2017     62
2018     95
2019    118
2020    180
2021     69
Name: Year, dtype: int64

In [13]:
# 9 - Monte uma tabela com a quantidade e a nota média dos 10 principais gêneros da base de dados. A definição dos 10 maiores se dará pela quantidade de ocorrências em cada gênero.

df_netflix.groupby('Genre').agg({'Genre':'count', 'IMDB Score': 'mean'}).nlargest(10, 'Genre')

                 Genre  IMDB Score
Genre
Documentary        148    6.965541
Drama               77    6.342857
Comedy              47    5.508511
Romantic comedy     37    5.870270
Thriller            33    5.563636
Comedy-drama        14    6.214286
Crime drama         11    6.745455
Biopic               9    6.400000
Horror               9    5.255556
Action               7    5.414286

In [14]:
# 10 - Monte uma tabela com a quantidade e a nota média dos 10 principais gêneros da base de dados, apenas para o idioma português. Novamente, a definição dos 10 maiores se dará pela quantidade de ocorrências em cada gênero

df_netflix.where(df_netflix['Language'] == 'Portuguese').groupby('Genre').agg({'Genre':'count', 'IMDB Score': 'mean'}).nlargest(10, 'Genre')

                 Genre  IMDB Score
Genre
Comedy               6    5.733333
Documentary          3    7.566667
Comedy-drama         1    5.600000
Romantic comedy      1    5.800000
Western              1    6.100000

Parte 2 - Etapa 1

In [28]:
# 1 - Importe os três arquivos

df_itens = pd.read_excel('Itens_Luthier.xlsx')
df_precos = pd.read_excel('Precos_Luthier.xlsx')
df_vendas = pd.read_excel('Vendas_Luthier.xlsx')

In [16]:
df_itens.head()

   Cód      Tipo                 Descrição
0  G01  Guitarra      Gibson Les Paul 2010
1  G02  Guitarra            Gibson SG 2016
2  G03  Guitarra  Fender Stratocaster 2020
3  V01    Violão             Tagima Dallas
4  V02    Violão            Takamine TG165

In [17]:
df_precos.head()

   Cód  Preço
0  G01   6000
1  G02   4500
2  G03   5500
3  V01    850
4  V02   3000

In [20]:
df_vendas.head()

   Cód       Data  Qtd.
0  G01 2021-10-01     1
1  G02 2021-10-01     2
2  G01 2021-10-01     1
3  V01 2021-10-05     1
4  V02 2021-10-05     3

Etapa 2

In [29]:
"""
1 - Os dados importados do arquivo “Vendas_Luthier.xlsx” correspondem as vendas de
uma loja em determinado período. Usando como referências os dados do arquivo
“Itens_Luthier.xlsx”, crie colunas adicionais aos dados de vendas com as informações
de “Tipo” e “Descrição”. A chave primária das bases é a coluna “Cód”. Nesse primeiro
momento, itens na tabela de vendas que não tiverem a descrição correspondente na
tabela de itens deverão ser mantidos após a concatenação.
"""

df_vendas_detalhadas = pd.merge(df_vendas, df_itens, on='Cód', how='outer')
df_vendas_detalhadas.head(10)

   Cód       Data  Qtd.      Tipo             Descrição
0  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010
1  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010
2  G01 2021-10-11   1.0  Guitarra  Gibson Les Paul 2010
3  G01 2021-10-17   1.0  Guitarra  Gibson Les Paul 2010
4  G01 2021-10-21   1.0  Guitarra  Gibson Les Paul 2010
5  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010
6  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010
7  G02 2021-10-01   2.0  Guitarra        Gibson SG 2016
8  V01 2021-10-05   1.0    Violão         Tagima Dallas
9  V01 2021-10-21   1.0    Violão         Tagima Dallas

In [30]:
"""
2 - Partindo da tabela resultante da etapa acima, use como referência os dados do
arquivo “Precos_Luthier.xlsx” e crie uma coluna com os preços dos itens vendidos.
Novamente, itens na tabela de vendas que não tiverem a descrição correspondente
na tabela de preços deverão ser mantidos após a concatenação.
"""

df_vendas_detalhadas = pd.merge(df_vendas_detalhadas, df_precos, on='Cód', how='outer')
df_vendas_detalhadas.head(10)

   Cód       Data  Qtd.      Tipo             Descrição   Preço
0  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010  6000.0
1  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010  6000.0
2  G01 2021-10-11   1.0  Guitarra  Gibson Les Paul 2010  6000.0
3  G01 2021-10-17   1.0  Guitarra  Gibson Les Paul 2010  6000.0
4  G01 2021-10-21   1.0  Guitarra  Gibson Les Paul 2010  6000.0
5  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010  6000.0
6  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010  6000.0
7  G02 2021-10-01   2.0  Guitarra        Gibson SG 2016  4500.0
8  V01 2021-10-05   1.0    Violão         Tagima Dallas   850.0
9  V01 2021-10-21   1.0    Violão         Tagima Dallas   850.0

In [32]:
# 3 - Crie uma coluna com o faturamento por item, ou seja, uma coluna que multiplica a quantidade vendida pelo preço de venda

df_vendas_detalhadas['Faturamento'] = df_vendas_detalhadas['Qtd.'] * df_vendas_detalhadas['Preço']
df_vendas_detalhadas.head(10)

   Cód       Data  Qtd.      Tipo             Descrição   Preço  Faturamento
0  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010  6000.0       6000.0
1  G01 2021-10-01   1.0  Guitarra  Gibson Les Paul 2010  6000.0       6000.0
2  G01 2021-10-11   1.0  Guitarra  Gibson Les Paul 2010  6000.0       6000.0
3  G01 2021-10-17   1.0  Guitarra  Gibson Les Paul 2010  6000.0       6000.0
4  G01 2021-10-21   1.0  Guitarra  Gibson Les Paul 2010  6000.0       6000.0
5  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010  6000.0      12000.0
6  G01 2021-10-05   2.0  Guitarra  Gibson Les Paul 2010  6000.0      12000.0
7  G02 2021-10-01   2.0  Guitarra        Gibson SG 2016  4500.0       9000.0
8  V01 2021-10-05   1.0    Violão         Tagima Dallas   850.0        850.0
9  V01 2021-10-21   1.0    Violão         Tagima Dallas   850.0        850.0

In [33]:
# 4 - Remova e exporte à parte os itens que tiverem algum dado faltante nas etapas anteriores

df_linhas_valores_nulos = df_vendas_detalhadas[df_vendas_detalhadas.isnull().any(axis=1)]
df_linhas_valores_nulos.head()

,Cód,Data,Qtd.,Tipo,Descrição,Preço,Faturamento
22,G06,2021-10-21,2.0,NaN,NaN,NaN,NaN
23,V03,2021-10-21,3.0,NaN,NaN,NaN,NaN
24,G03,NaT,NaN,Guitarra,Fender Stratocaster 2020,5500.0,NaN

In [35]:
df_linhas_valores_nulos.to_excel('df_linhas_valores_nulos.xlsx')

In [36]:
df_vendas_detalhadas.dropna(inplace=True)

In [37]:
# 5 - Exporte o arquivo final, sem os dados faltantes

df_vendas_detalhadas.to_excel('df_vendas_detalhadas.xlsx')

In [39]:
# 6 - Qual o faturamento total mensal da loja e por tipo de produto?

df_vendas_detalhadas['Faturamento'].sum()

121150.0

In [40]:
df_vendas_detalhadas.groupby('Tipo')['Faturamento'].sum()

Tipo
Guitarra    95500.0
Violão      25650.0
Name: Faturamento, dtype: float64

In [53]:
# 7 - Quais os três itens que geraram maior faturamento nesse mês?

df_vendas_detalhadas.groupby('Descrição')['Faturamento'].sum().sort_values(ascending=False).head(3)

Descrição
Gibson Les Paul 2010    54000.0
Jackson 2021            32500.0
Takamine TG165          18000.0
Name: Faturamento, dtype: float64